EXPO_PUBLIC_API_URL=https://backend-1047964714716.us-central1.run.app

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBz_hs_eWRHtTmz4LASZ62U-hc0TG2zulI
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=todolist1-a1996.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=todolist1-a1996
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=todolist1-a1996.firebasestorage.appa
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=276917399944
EXPO_PUBLIC_FIREBASE_APP_ID=1:276917399944:web:420b68d85e4019cf884a3d
